* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* shared style */
.primary-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}

.primary-btn:hover {
    background-color: #0056b3;
    transition: all;
}


.logo-font {
   font-family: "Inter", sans-serif;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    margin: 0 3rem;
    color: #fff;
}

.logo {
    font-size: 2.5rem;
    font-weight: 800;
    color: #007bff;

}

/* hero section style */
.hero-section {
    background-image: url(/Assets/Hero-bg.png);
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero {
    align-items: center;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.hero h1 {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    color: black;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

/* section1 style  */

.section-1 {
    padding: 1rem 3rem;
    margin: 3rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    gap: 1rem;
    font-family: "Raleway", sans-serif;

}

.container1 h2 {
    font-size: 2.5rem;
    color: #252432;
    font-weight: 700;
}

.text-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #93949e;
    font-size: 1.5rem;
}

.container2 img {
    border-radius: 48px;
}


/* section 2 style  */
.section-2 {
    padding: 1rem 3rem;
    margin: 3rem 3rem;
    text-align: center;

}


.s2-main-con {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 1.5rem;
    background-color:#e5e7ff;
    border-radius: 20px;
}

.s2-main-con h2 {
    font-size: 2.3rem;
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-top: 1rem;
}

.s2-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
   font-family: "Inter", sans-serif;
}

.s2-con h1 {
    
    font-size: 4.5rem;
    color: #4e47ff;
    font-weight: 700;
}

.s2-con p {
    color: #93949e;
    font-size: 1.3rem;
}
.s2-sub-con{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}